tests/__pycache__/*
*.pyc
data/
.env

**/.DS_Store

# vscode
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/.ropeproject/objectdb

# dbt
logs/dbt.log
dbt/dbt_modules/
dbt/logs/
dbt/.user.yml
dbt/target/
target/*

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
