requests==2.23.0
beautifulsoup4==4.9.3
pandas==1.2.4
html5lib==1.1
dateparser==1.0.0
SQLAlchemy==1.4.11
psycopg2==2.8.6
dbt-core==1.1.1
dbt-postgres==1.1.1
dash==2.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
python-dotenv==0.17.1
